{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order Tracking
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-warning" href="{% url 'products:during-process' %}">During Process</a></li>
            <li><a class="dropdown-item text-success" href="{% url 'products:completed-process' %}">Completed</a></li>
          </ul>
        </div>
        <a class="btn btn-success" href="#">Favorites <i class="far fa-heart"></i></a>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <a class="btn btn-warning" href="{% url 'accounts:edit-profile' %}">Edit Profile</a>
                <a class="btn btn-danger" href="{% url 'accounts:user-delete' %}">Delete Account</a>
            </div>
            <p class="text-center"><strong>Username:</strong> {{ user.username }}</p>
            <p class="text-center"><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>

{% endblock %}
