{% extends 'base.html' %}
{% load static %}

{% block title %} During Process List {% endblock %}

{% block content %}

    {% for item in items %}
        <div class="card" style="width: 18rem;">
            <img src="{{ item.product.cover.url }}" class="card-img-top" alt="{{ item.tag }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.product.name }}</h5>
                <p class="card-text">{{ item.product.description }}</p>
                <p class="card-text"><strong>Price: {{ item.product.price }} IRT</strong></p>
                <p class="card-text"><strong>We have {{ item.product.product_count }} of this product.</strong></p>
                    <div class="d-flex">
                        <a href="{% url 'products:buy-confirm' item.product.slug %}" class="btn btn-success">Buy</a>
                        <form action="{% url 'products:product-like' item.product.pk %}" method="post">
                            {% csrf_token %}
                            {% if item.product.pk in user_liked_product_ids %}
                                <button type="submit" class="btn btn-danger mx-1">
                                    <i class="fas fa-heart"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-danger mx-1">
                                    <i class="far fa-heart"></i>
                                </button>
                            {% endif %}
                        </form>
                    </div>
            </div>
        </div>
    {% empty %}
        <p class="text-danger text-center">You don't have any favorites yet...</p>
    {% endfor %}

{% endblock %}